<html>
    <head>
        <meta charset="utf-8">
        <title>Flask example</title>
    </head>
    <body>
        <h1>Find ARTICLES + embed plots</h1>
        <!--Reload the page with variable "query" in the URL-->
        <form>
            <input type="text" name="query" autofocus>
            <input type="submit" value="Search">
        </form>
        <table>
            <!--insert the query plot-->
            <tr>
                <td></td>
                <td align="right"><font face="verdana" size='2' color="gray" ><i>Your query has the following frequecy distribution</i></font><img src="./static/query_{{ query }}_plot.png" style="width: 300px; height 100%"></td>

            </tr>
            <!--Go through each item in the "matches" variable sent from
                search() function in the Flask app-->
            {% for item in matches %}
            <tr>
                {% if  item['pltpath'] == "": %}
                    <td colspan="2"><font face="verdana" size='5' color="green">{{ item["name"] }}</font><br>
                    {% for line in item["content"] %}
                        {{ line }} <br>
                    <!--End for loop-->
                    {% endfor %} </td>
                    <td></td>
                {% else %}
                    <td><font face="verdana" size='5' color="green">{{ item["name"] }}</font><br>
                    {% for line in item["content"] %}
                        {{ line }} <br>
                    <!--End for loop-->
                    {% endfor %} </td>
                    <td><img src="./static/{{ item['pltpath'] }}" style="width: 600px; height 100%"></td>
                {% endif %}
            </tr>
            <!--End for loop-->
            {% endfor %}
        </table>
    </body>
</html>

