<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{{ url_for('static', filename= 'css/opt_style.css') }}">
        <title>Variety of options</title>
    </head>
<body>

<body bgcolor="#C9E2FF">


  <h1>Choose Search Method</h1> 
  <h3>_____________________________</h3>

  <form action="boolean">
    <button class="btn boolean">BOOLEAN</button>
  </form>
  <form action="td_idf">
    <button class="btn td_idf">TD-IDF</button>
  </form>
  <div class="bottomcentr">
  <h>NLP-Trio</h>  
  </div>

<div class="top">
  <img src="static/css/clouds2.jpg" width="1500" height="250">
</div>

</body>
</html>
