<html>
    <head>
        <meta charset="utf-8">
        <title>Movie Search</title>
    </head>
    <body>

        <h1>Find a movie!</h1>
        
        <form>
            <input type="text" name="query" autofocus>
            <input type="submit" value="Search">
        </form>

        {% if query %}
            
            <h2>Results for search "{{ query}}"</h2>
            
            <table>
            {% for item in result_list %}    
            <tr>
                <td>Movie id: {{ item.get_id() }} </td>
            </tr>
            <tr>
                <td><a href="{{ url_for('show_movie', id=item.get_id() )}}">{{ item.get_title() }}</a></td>
            </tr>
            <tr>
                <td>Rating: {{ item.get_rating() }}</td>
            </tr>
            <tr>
                <td>{{ item.get_synopsis() }}</td>
            </tr>
            <tr>
                <td>{{ item.get_title() }}</td>
            </tr>
            
            {% endfor %}
        </table>
        {% endif %}
    </body>
</html>