{% extends "/layout.html" %}

    {% block body %}

        <p>Halojata halloo!</p>
        
        <form id="search">
            <input type="text" name="query" autofocus>
            <input type="submit" action="search_method" value="Boolean" name="search_method">
            <input type="submit" action="search_method" value="td-idf" name="search_method">
            <input type="submit" action="search_method" value="Third option" name="search_method">

            <!--<form action="b">-->
            <!--<button id="search" class="btn boolean" action="b">Boolean search</button>-->
            <!--<button id="search" class="btn td_idf" action="t">td-idf search</button>-->
    
        </form>

        {% if query %}
            <h2>Results for {{ method }} search "{{ query }}"</h2>

            <table>
            {% for item in result_list %}    
            <tr>
                <td>Movie id: {{ item.get_id() }} </td>
            </tr>
            <tr>
                <td><a href="{{ url_for('show_movie', id=item.get_id() )}}">{{ item.get_title() }}</a></td>
            </tr>
            <tr>
                <td>Rating: {{ item.get_rating() }}</td>
            </tr>
            <tr>
                <td>{{ item.get_synopsis() }}</td>
            </tr>
            <tr>
                <td>{{ item.get_title() }}</td>
            </tr>
            
            {% endfor %}
        </table>
        {% endif %}
        
    {% endblock %}