<html>
    <head>
        <meta charset="utf-8">
        <title>Movie page</title>
    </head>
    <body>
        <h1>{{ movie_.get_title() }}</h1>
        
        <p>Movie id: {{ id }}</p>
        
        <p>Movie title: {{ movie_.get_title() }}</p>
        
        <h2>Average rating</h2>
        <p>{{ movie_.get_rating() }}</p>
        
        <h2>Synopsis</h2>
        <p>{{ movie_.get_synopsis() }}</p>
        
        <h2>Themes</h2>
        {% for theme in movie_.get_themes() %}
            <p>{{ theme }}</p>
        {% endfor %}
    </body>
</html>