{% extends "/layout.html" %}

{% block body %}

<body>
    <div class="container">
        <p class="text-right"><a href="#" onclick="location.href = document.referrer; return false;">Back to result
                list</a></p>

        <h1>{{ movie_.get_title() }}</h1>

        <!--<p>Movie id: {{ id }}</p>-->

        <!--<p>Movie title: {{ movie_.get_title() }}</p>-->

        <p><b>Rating on IMDb</b>: {{ movie_.get_rating() }}</p>
        <p><b>Production year</b>: {{ movie_.get_year() }} </p>

        <div class="row">
            <div class="col-sm-4">
                <h2>Themes</h2>
                {% for theme in movie_.get_themes() %}
                <p>{{ theme[0] }}</p>
                {% endfor %}
            </div>
            <div class="col-sm-8">
                <!--<img src="/static/cc_heart.png" class="mx-auto d-block p-1" alt="Creative Commons heart logo"
                    height="240" width="240" />-->
                <img src="/static/movie_{{ movie_.get_title() }}_plot.png" class="mx-auto d-block p-1" alt="Theme plot"
                height="480" width="640" />
            </div>
		<div class="ipc-image">
                <!--<img src="/static/cc_heart.png" class="mx-auto d-block p-1" alt="Creative Commons heart logo"
                    height="240" width="240" />-->
                <img src={{ movie_.get_photo() }} class="mx-auto d-block p-1" alt="Movie photo"
                height="480" width="640" />
            </div>
        </div>

        <h2>Synopsis</h2>
        <p>{{ movie_.get_synopsis() }}</p>



    </div>

    <!--<a href="{{ url_for('index', result_list=result_list, id=id)}}">Search results</a>-->

    {% endblock %}